{# Autor: Sebastian Łyszkowski #}
{%  extends 'base.html.twig' %}

{% block title %}
    WYSZUKAJ GRĘ
{% endblock %}

{% block body %}

    <form action="searchresults" method="post">

    <tr>
        <td style="text-align: center; vertical-align: middle; font-size:20px"><input type="text" name="title"></td>
    </tr>

    <tr>
        <td style="text-align: center; vertical-align: middle;"><button type="submit" class="btn btn-primary" style="border-color:white">SZUKAJ</button></td>
    </tr>

    </form>

{% endblock %}
