{# Autorzy: Marek Bobrowski, Sebastian Lyszkowski #}
<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Gry-wideo</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
<div class="header-row" id="header-row" style="padding: 0; overflow:hidden; height:150px;">
    <div class="container-fluid" style="padding: 0;">
        <div class="row">
            <div class="col-xs-12">
                <a class="navbar-brand logo" href="/">
                    <img src="banner.png" alt="company logo"
                         style="width: 60%;transform: translateX(-50%);left: 50%;position: absolute;">
                </a>
            </div>
        </div>
    </div>
</div>
<div class = "main-panel" id = "main-panel">
    <a href="search" class="btn btn-primary">WYSZUKAJ</a>
    <a href="/" class="btn btn-primary">TOP 10</a>
    <a href="news" class="btn btn-primary">NOWOSCI</a>

    {% if is_granted('ROLE_USER') %}
        <a href="logout" class="btn btn-primary" style="float:right">WYLOGUJ</a>
    {% else %}
        <a href="login" class="btn btn-primary" style="float:right">LOGOWANIE</a>
    {% endif %}

    {% if not is_granted('ROLE_USER') %}
        <a href="register" class="btn btn-primary" style="float:right">REJESTRACJA</a>
    {% endif %}

    {% if is_granted('ROLE_USER') %}
        <a href="addgame" class="btn btn-primary">DODAJ GRE</a>
    {% endif %}
</div>

{% if is_granted('ROLE_ADMIN') %}
    <div class = "main-panel" id = "main-panel" style = "background:#bd34eb">
        <a href="userlist" class="btn btn-primary">ZARZADZAJ UZYTKOWNIKAMI</a>
        <a href="addpost" class="btn btn-primary">DODAJ POST</a>
    </div>
{% endif %}

<table class="flatTable">

    <tr class="titleTr">
        <td colspan="5">
            {% block title %}
                Tytul
            {% endblock %}
        </td>
    </tr>

    {% block body %}
        Wyswietlanie
    {% endblock %}

</table>

<link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Advent+Pro&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>
