<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gry-wideo</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="header-row" id="header-row" style="padding: 0; overflow:hidden; height:150px;">
    <div class="container-fluid" style="padding: 0;">
        <div class="row">
            <div class="col-xs-12">
                <a class="navbar-brand logo" href="/">
                    <img src="banner.png" alt="company logo"
                         style="width: 60%;transform: translateX(-50%);left: 50%;position: absolute;">
                </a>
            </div>
        </div>
    </div>
</div>
<div class = "main-panel" id = "main-panel">
    <button type="button" class="btn btn-primary" style="float:right"><a href = "login">LOGOWANIE</a></button>
    <button type="button" class="btn btn-primary" style="float:right"><a href = "register">REJESTRACJA</a></button>
    <button type="button" class="btn btn-primary"><a href = "search">WYSZUKAJ</a></button>
    <button type="button" class="btn btn-primary"><a href = "/">TOP 10</a></button>
    <button type="button" class="btn btn-primary"><a href = "addgame">DODAJ GRE</a></button>
</div>
<form action="register" method="post">
    <table class="flatTable">

        <tr class="titleTr">
            <td>Pomyslnie zarejestrowano uzytkownika {{ user_name }}. </td>
        </tr>
    </table>
</form>
<link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Advent+Pro&subset=latin,latin-ext' rel='stylesheet' type='text/css'>


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">


<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>